.icon-book {
    background-image: url(../png/book.png);
    display: inline-block;
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 16px;
    height: 16px;
}