<div ng-if="isAuthenticated()"> 
  <div class="account_menu_listener" ng-show="showMenu" ng-click="closeMenu()"></div> 
  <div style="z-index:50;"> 
		<md-button class="md-fab md-primary md-mini" ng-click="toggleMenu(showMenu)"> 
			<md-icon>account_circle</md-icon> 
		</md-button> 
		<md-list id="account_menu" class="md-1-line" ng-show="showMenu"> 
			<md-list-item ng-repeat="item in accountMenu" ng-click="goState(item)"> 
				<md-icon style="color: black; margin:0 10px 0 0;">{{item.icon}}</md-icon> 
				{{item.chi_title}} 
			</md-list-item> 
		</md-list> 
  </div>
 </div>