<md-content flex layout="column">
    <md-card layout="row" layout-align="center center" ng-show="selected.length == 0">
        <md-button ng-click="toggleLeft()"
                   class="md-primary md-icon-button" hide-gt-md style="margin: auto 4px">
            <md-icon>menu</md-icon>
        </md-button>
        <md-input-container md-no-float class="no-margin margin-left-right-10" style="padding: 0 10px">
            <md-select ng-model="query.bookId" placeholder="分类查询" ng-change="refresh();">
                <md-option value="0">全部</md-option>
                <md-option ng-repeat="book in books" value="{{book.id}}">{{book.bookName}}</md-option>
                <md-option value="-1">未分类</md-option>
            </md-select>
        </md-input-container>
        <!--<md-input-container md-no-float class="margin-left-right-10" style="color: black">-->
        <!--<md-select ng-model="query.orderBy" placeholder="排序依据" style="margin-top: 8px;">-->
        <!--<md-option value="lastModifiedDate">最后更新日期</md-option>-->
        <!--<md-option value="createDate">创建日期</md-option>-->
        <!--<md-option value="title">博客标题</md-option>-->
        <!--</md-select>-->
        <!--</md-input-container>-->
        <span ng-show="advancedSearchFlag">
            <md-input-container md-no-float class="no-margin margin-left-right-10" style="padding: 0 10px">
                <md-select ng-model="query.advancedSearchIfPublic" placeholder="是否公开">
                    <md-option value="true">是</md-option>
                    <md-option value="false">否</md-option>
                </md-select>
            </md-input-container>
            <md-input-container md-no-float class="no-margin margin-left-right-10" style="padding: 0 10px">
                <md-select ng-model="query.advancedSearchIfAllowReprint" placeholder="是否允许转载">
                    <md-option value="true">是</md-option>
                    <md-option value="false">否</md-option>
                </md-select>
            </md-input-container>
            <md-input-container md-no-float class="no-margin margin-left-right-10" style="padding: 0 10px">
                <md-select ng-model="query.advancedSearchIfAllowComment" placeholder="是否允许评论">
                    <md-option value="true">是</md-option>
                    <md-option value="false">否</md-option>
                </md-select>
            </md-input-container>
        </span>
        <span flex></span>
        <form name="search" ng-submit="refreshArticleList()">
            <md-input-container style="margin: 4px;" md-no-float>
                <input id="article-flex-input" placeholder="搜索..." type="search" name="search" ng-model="query.filter">
                <md-button class="md-icon-button" ng-if="query.filter" ng-click="clearFilter();">
                    <md-icon>clear</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-if="!query.filter">
                    <md-icon>search</md-icon>
                </md-button>
            </md-input-container>
        </form>
        <!-- todo 如何设计高级搜索的页面呈现方式
        <md-button class="md-icon-button" ng-click="advancedSearchToggle(advancedSearchFlag)">
            <md-tooltip>高级搜索</md-tooltip>
            <md-icon>{{advancedSearchFlag ? 'gps_fixed' : 'location_searching'}}</md-icon>
        </md-button>
        --->
    </md-card>
    <md-card layout="row" layout-align="center center" ng-show="selected.length > 0">
        <md-button ng-click="toggleLeft()"
                   class="md-primary md-icon-button" hide-gt-md style="margin: auto 4px">
            <md-icon>menu</md-icon>
        </md-button>
        <span>你选中了{{selected.length}}条数据</span>
        <span flex></span>
        <!--
        <md-button ng-click="addToBookBatch()" class="md-primary md-icon-button" style="margin: auto 4px;">
            <md-tooltip>批量归档</md-tooltip>
            <md-icon>content_copy</md-icon>
        </md-button>
        <md-button ng-click="updateArticleSetBatch()" class="md-primary md-icon-button" style="margin: auto 4px;">
            <md-tooltip>批量设权</md-tooltip>
            <md-icon>lock</md-icon>
        </md-button>
        -->
        <md-button ng-click="deleteBatch()" class="md-primary md-icon-button" style="margin: auto 4px;">
            <md-tooltip>批量删除</md-tooltip>
            <md-icon style="color: red">delete</md-icon>
        </md-button>
    </md-card>
    <md-content style="padding:10px" flex layout="column">
        <md-table-container flex>
            <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
                <thead fix-head md-head md-order="query.order" md-on-reorder="advancedSearchSave">
                <tr md-row>
                    <th md-column>标题</th>
                    <th md-column width="10%">操作</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row md-select="article" md-select-id="{{article.id}}" ng-repeat="article in data.content"
                    ng-class="{'setTop':article.ifSetTop}">
                    <td md-cell>
                        <div class="md-list-item-text" layout="column">
                            <div flex class="no-margin padding-top-10-bottom-5" layout="row">
                                <h3 class="no-margin">
                                    <a class="h2 article-title" ng-class="{true:'article-title-dark'}[showDarkTheme]" ui-sref="blog.readBlog({id:article.id})" target="_blank"
                                       ng-bind="article.title"></a>
                                </h3>
                                <span flex></span>
                                <pxg-chips-show chips-data="article.labels" chips-style="chipsStyle"></pxg-chips-show>
                            </div>
                            <span style="padding-bottom: 5px;" class="md-hue-1">时间、喜欢数量、评论数量....</span>
                        </div>
                    </td>
                    <td md-cell>
                        <div style="width: 96px;">
                            <md-button class="md-icon-button no-margin" ui-sref="blog.edit({id: article.id})">
                                <md-tooltip md-direction="bottom">编辑</md-tooltip>
                                <md-icon>edit</md-icon>
                            </md-button>
                            <!--
                            <md-button class="md-icon-button no-margin" ng-click="updateArticleSet(article)">
                                <md-tooltip md-direction="bottom">权限</md-tooltip>
                                <md-icon>lock</md-icon>
                            </md-button>
                            <md-button class="md-icon-button no-margin" ng-click="remove(article.id)">
                                <md-tooltip md-direction="bottom">删除</md-tooltip>
                                <md-icon>delete</md-icon>
                            </md-button>
                            -->
                            <md-menu class="md-dense">
                                <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                                    <md-icon>settings</md-icon>
                                </md-button>
                                <md-menu-content width="1" ng-mouseleave="$mdMenu.close()">
                                    <md-menu-item class="md-dense">
                                        <md-button ng-click="addToBook(article.id)">
                                            <md-icon>content_copy</md-icon>
                                            <span>归档变更</span>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item class="md-dense">
                                        <md-button ng-click="updateArticleSet(article)">
                                            <md-icon>lock</md-icon>
                                            <span>权限设置</span>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item class="md-dense">
                                        <md-button ng-click="remove(article.id)">
                                            <md-icon>delete</md-icon>
                                            <span>删除</span>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-label="{page: '页', rowsPerPage: '每页行数:', of: '共'}"
                             md-limit="query.size" md-limit-options="[10, 20, 50, 100]"
                             md-page="query.page" md-total="{{data.totalElements}}"
                             md-on-paginate="pageRefresh" md-page-select>
        </md-table-pagination>
    </md-content>
</md-content>