<div layout="column" style="z-index:1">
	<md-sidenav id="little-sidenav" class="md-sidenav-left" md-component-id="left" flex style="width: 100%;"
			md-is-locked-open="true" md-whiteframe="4">
		<md-content flex layout="column" layout-align="start center" style="overflow: hidden"> 
			<div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
				<md-button class="md-fab md-default md-hue-2" ng-click="goToDashboard()">
					<md-icon>account_circle</md-icon>
				</md-button>
			</div>
			<span flex></span>
			<div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
				
				<md-fab-speed-dial md-direction="up" md-open="shareOpen" ng-class="'md-fling'">
				    <md-fab-trigger>
				      <md-button class="md-fab md-mini md-bg-gray" ng-class="{'md-bg-purple': share_hover}"
				      	 ng-mouseover="share_hover=true" ng-mouseleave="share_hover=false" ng-click="!shareOpen">
					  	<md-icon>share</md-icon>
					  </md-button>
				    </md-fab-trigger>
				    <md-fab-actions>
				      <md-button aria-label="Wechat" class="md-fab md-raised md-mini">
				        <md-icon md-svg-src="img/icons/wechat.svg" aria-label="Wechat"></md-icon>
				      </md-button>
				      <md-button aria-label="QQ" class="md-fab md-raised md-mini">
				        <md-icon md-svg-src="img/icons/qq.svg" aria-label="QQ"></md-icon>
				      </md-button>
				      <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
				        <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
				      </md-button>
				    </md-fab-actions>
				  </md-fab-speed-dial>
			</div>
			<div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
				<md-button class="md-fab md-mini md-bg-gray" ng-class="{'md-bg-green': send_hover}" ng-mouseover="send_hover=true" ng-mouseleave="send_hover=false">
					<md-icon>send</md-icon>
				</md-button>
			</div>
			<div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
				<md-button class="md-fab md-mini md-bg-gray" ng-class="{'md-bg-blue': notifications_hover}" ng-mouseover="notifications_hover=true" ng-mouseleave="notifications_hover=false">
					<md-icon>notifications_active</md-icon>
				</md-button>
			</div>
			<div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
				<md-button class="md-fab md-mini md-bg-gray" ng-class="{'md-bg-black': settings_hover}"
				 ng-mouseover="settings_hover=true" ng-mouseleave="settings_hover=false" ng-click="openSetting()">
					<md-icon>settings</md-icon>
				</md-button>
			</div>
		</md-content>
	</md-sidenav>
</div>
<article ui-view flex layout="row" md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}"></article>