<section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-md') && toggleValue" layout="column">
        <!--<md-toolbar class="md-theme-indigo">-->
            <!--<h1 class="md-toolbar-tools">目录(搜索框)</h1>-->
        <!--</md-toolbar>-->
        <md-content layout-padding flex style="padding: 0">
            <my-book-tree layout="column"></my-book-tree>
        </md-content>
    </md-sidenav>

    <md-content flex layout-padding layout="column">

        <div layout="row" layout-align="top center">
            <md-button ng-click="toggleLeft()" class="md-primary md-icon-button">
                <md-icon>menu</md-icon>
            </md-button>
            <span flex style="text-align: center">
                <span ng-if="currentchapOrArt.bookName">
                    <md-icon>library_books</md-icon>
                    <span>{{currentchapOrArt.bookName}}</span>
                </span>
                <span ng-if="currentchapOrArt.groupName">
                    <md-icon>book</md-icon>
                    <span>{{currentchapOrArt.groupName}}</span>
                </span>
                <span ng-if="currentchapOrArt.title">
                    <md-icon>description</md-icon>
                    <span>{{currentchapOrArt.title}}</span>
                    <!--
                    <md-button class="md-icon-button" target="_blank" ui-sref="blog.edit({id: currentchapOrArt.id})">
                        <md-tooltip>编辑</md-tooltip>
                        <md-icon>edit</md-icon>
                    </md-button>
                    -->
                </span>
            </span>
            <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary md-icon-button">
                <md-icon>comment</md-icon>
            </md-button>
            <!--<pxg-markdown-parse md-id="content" md-data="content"></pxg-markdown-parse>-->
        </div>
        <article flex ui-view layout="column" flex class="height-100-percent" ng-cloak></article>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">Sidenav Right</h1>
        </md-toolbar>
        <md-content ng-controller="RightCtrl" layout-padding>
            <form>
                <md-input-container>
                    <label for="testInput">Test input</label>
                    <input type="text" id="testInput"
                           ng-model="data" md-autofocus>
                </md-input-container>
            </form>
            <md-button ng-click="close()" class="md-primary">
                Close Sidenav Right
            </md-button>
        </md-content>

    </md-sidenav>

</section>