<form name="articleForm" ng-submit="saveArticle()" flex layout="column">
	<md-content  md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" flex layout="column" style="overflow: hidden">
		<md-card layout="row" style="padding: 0 10px; min-height: 50px; height: 50px;">
			<md-input-container class="set-margin" md-no-float flex>
				<input ng-model="article.title" placeholder="标题" type="text" name="articleTitle" required>
			</md-input-container>
		  	<md-chips id="article-marks" ng-model="labels" md-separator-keys="keys"
					  placeholder="添加标签" md-max-chips="5">
		  	</md-chips>
		  	<md-input-container style="margin: auto">
			  <md-button class="md-icon-button no-padding" type="submit">
				<md-icon style="font-size:30px">save</md-icon>
			  </md-button>
		  	</md-input-container>
		</md-card>
		<pxg-mark-down ng-model="article.content" pxg-img-url="api/article/img"></pxg-mark-down>
	</md-content>
</form>