<md-content layout="row" flex>
    <div layout="column" style="z-index:1" ng-if="isAuthenticated()">
        <md-sidenav id="little-sidenav" class="md-sidenav-left" md-component-id="left" flex style="width: 100%;"
                    md-is-locked-open="true" md-whiteframe="4">
            <md-content flex layout="column" layout-align="start center" style="overflow: hidden">
                <div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
                    <md-button class="md-fab md-warn" ng-click="goToDashboard()">
                        <md-tooltip md-direction="right">首页</md-tooltip>
                        <md-icon>account_circle</md-icon>
                    </md-button>
                </div>
                <span flex></span>
                <div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
                    <md-fab-speed-dial md-direction="up" md-open="shareOpen" ng-class="'md-fling'">
                        <md-fab-trigger>
                            <md-button class="md-fab md-mini md-default" ng-class="{'md-warn': share_hover}"
                                       ng-mouseover="share_hover=true" ng-mouseleave="share_hover=false" ng-click="!shareOpen">
                                <md-tooltip md-direction="right">分享</md-tooltip>
                                <md-icon>share</md-icon>
                            </md-button>
                        </md-fab-trigger>
                        <md-fab-actions>
                            <md-button aria-label="Wechat" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="img/icons/wechat.svg" aria-label="Wechat"></md-icon>
                            </md-button>
                            <md-button aria-label="QQ" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="img/icons/qq.svg" aria-label="QQ"></md-icon>
                            </md-button>
                            <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                                <md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
                            </md-button>
                        </md-fab-actions>
                    </md-fab-speed-dial>
                </div>
                <div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
                    <md-button class="md-fab md-mini md-default" ng-class="{'md-warn': send_hover}" ng-mouseover="send_hover=true" ng-mouseleave="send_hover=false">
                        <md-tooltip md-direction="right">发送</md-tooltip>
                        <md-icon>send</md-icon>
                    </md-button>
                </div>
                <!--
                <div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
                    <md-button class="md-fab md-mini md-bg-gray" ng-class="{'md-bg-blue': notifications_hover}" ng-mouseover="notifications_hover=true" ng-mouseleave="notifications_hover=false">
                        <md-icon>notifications_active</md-icon>
                    </md-button>
                </div>
                -->
                <div md-theme="{{ showDarkTheme ? 'pxg-dark-theme' : 'default' }}" md-theme-watch>
                    <md-button class="md-fab md-mini md-default" ng-class="{'md-warn': settings_hover}"
                               ng-mouseover="settings_hover=true" ng-mouseleave="settings_hover=false" ng-click="toggleRight()">
                        <md-tooltip md-direction="right">设置</md-tooltip>
                        <md-icon>settings</md-icon>
                    </md-button>
                </div>
            </md-content>
        </md-sidenav>
    </div>
    <md-content layout="row" layout-align="center start" flex style="overflow: auto">
        <md-content flex-xs="100" flex-sm="90" flex-gt-sm="80" class="padding-10" style="overflow: initial;">
            <md-head layout="row" layout-align="start end" style="margin: 20px 0;">
                <span class="title" ng-bind="article.title"></span>
                <pxg-chips-show chips-data="article.labels" chips-style="chipsStyle"></pxg-chips-show>
                <span flex></span>
                <span class="author-box">
                    <span class="author-label">作者</span>
                    <span ng-repeat="authorName in authorNameArr">
                        <span ng-bind="authorName"></span>
                        <span ng-if="$index != (authorNameArr.length - 1)">, </span>
                    </span>
                </span>
            </md-head>

            <pxg-markdown-parse flex md-id="article_{{article.id}}" md-data="article.content"></pxg-markdown-parse>
        </md-content>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">博客设置</h1>
        </md-toolbar>
        <pxg-blog-set article="article"></pxg-blog-set>
    </md-sidenav>

    <div class="lock-size nail-float-write" ng-if="isAuthenticated()">
        <md-fab-speed-dial md-open="demo.isOpen" md-direction="up" ng-class="demo.selectedMode">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab md-warn" ui-sref="blog.edit({id: article.id})">
                    <md-tooltip>编辑</md-tooltip>
                    <md-icon>edit</md-icon>
                </md-button>
            </md-fab-trigger>
        </md-fab-speed-dial>
    </div>
</md-content>