<md-content layout="column" flex style="overflow: auto">
    <md-content flex style="width: 1000px; margin: 0 auto; overflow: initial;">
        <md-head layout="row" style="margin: 20px 0;">
            <span class="title" ng-bind="article.title"></span>
            <span flex></span>
            <span class="author-box">
                <span class="author-label">作者</span>
                <span ng-repeat="authorName in authorNameArr">
                    <span ng-bind="authorName"></span>
                    <span ng-if="$index != (authorNameArr.length - 1)">, </span>
                </span>
            </span>
        </md-head>

        <pxg-markdown-parse flex md-id="article_{{article.id}}" md-data="article.content"></pxg-markdown-parse>
    </md-content>
</md-content>